/__astcache
/__history
/__recovery
/Debug
/Release
/*.local
/*.stat
/*.dsk

# Intermediate Build files
/**/*.gch
/**/*.map
/**/*.obj
/**/*.pch
/**/*.tds

/**/*.~*
/**/*.#*
/**/*.astcache
/**/*.astinfo

# Output files
#/**/*.dll
#/**/*.lib
/**/*.exe
